body{
    background-color: rgb(36, 36, 36);
    color: white;
}
h1{
text-align: center;
}

.img{
    text-align: center;
}
.video{
    text-align: center;
}
p{
    text-align: center;
}
a{
    color: white;
    font-style: italic;
    text-decoration: none;

}

